{% comment %} Description: View for member registraion confirmation page. {% endcomment %}
{% comment %} Primary layout: false {% endcomment %}

<div class="header-logo header-logo--light">
  <a href="{{ 'footer.home_url' | t }}">
    <div class="header-logo__logo sumofus-logo--positive"></div>
  </a>
</div>

<div class="center-content">
  <div class="center-content__one-column registration">

    <div class="center-content__central-square">
      <h1 class="typography__highlight">
        {% if errors == empty %}
          {{ 'confirmation_mailer.follow_up_page.success' | t }}
        {% else %}
          {{ 'confirmation_mailer.follow_up_page.failure' | t }}
        {% endif %}
      </h1>

      {% for error in errors %}
        <h3>{{ error }}</h3>
      {% endfor %}

      {% if errors == empty %}
        <p>{{ 'confirmation_mailer.follow_up_page.member_management' | val: 'url', members_dashboard_url | t }}</p>
      {% endif %}
    </div>
  </div>
</div>
