{% comment %} Description: The petition page with a small cover photo. {% endcomment %}

<div class="cover-photo--small" style="background-image: url({{ primary_image.urls.large }})">
  <div class="cover-photo__overlay">

    <div class="header-logo header-logo--dark checks-top checks-top--at-top">
      <a href="http://sumofus.org/">
        <div class="header-logo__logo sumofus-logo--negative"></div>
      </a>
      <div class="header-logo__tagline sumofus-logo--tagline">{{ 'branding.tagline' | t }}</div>
    </div>

    <div class="cover-photo__titles">
      <div class="center-content">
        <div class="center-content__big-column">
          <!-- one line to be able to check :empty  -->
          <h3 class="cover-photo__target typography__highlight--dark typography__highlight--simple">{{petition_target}}</h3>
          <div class="typography__highlight-wrapper">
            <h1 class="cover-photo__title typography__highlight">
              <span>{{ title }}</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="center-content">
  <div class="center-content__big-column">
    <div class="mobile-show pre-main-bar">
      {% include 'Thermometer' %}
    </div>

    <div class="body-text main-feature">
      {{ content }}

      {% unless link_list == blank %}
        <hr class="stubby-hr" />
        <h3>{{ 'page.more_info' | t }}</h3>
        {% include 'Links' %}
      {% endunless %}
    </div>
  </div>
  <div class="center-content__fixed-right center-content--push-down">
    {% include 'Petition', extra_class: 'stuck-right' %}
  </div>
</div>

{% include 'Simple Footer', extra_class: 'simple-footer--stuck-to-bottom' %}
