{% if plugins.fundraiser[ref].active %}
  <div class="fundraiser-bar fundraiser-bar--elevated fundraiser-bar--mobile-view--closed">
    <div class="fundraiser-bar__content">
      <div class="fundraiser-bar__top">
        <div class="fundraiser-bar__mobile-ui">
          <a class="fundraiser-bar__close-button">&#x2715;</a>
        </div>
        <h2>{{ plugins.fundraiser[ref].title }}</h2>
        <div class="fundraiser-bar__steps">
          <hr class="fundraiser-bar__step-connector" />
          <div class="fundraiser-bar__step-label" data-step="1">
            <div class="fundraiser-bar__step-number fundraiser-bar__step-number--past">1</div>
            <div class="fundraiser-bar__step-name fundraiser-bar__step-name--past fundraiser-bar__display-amount">
              {{ 'fundraiser.amount' | t }}
            </div>
          </div>
          <div class="fundraiser-bar__step-label" data-step="2">
            <div class="fundraiser-bar__step-number fundraiser-bar__step-number--current" data-step="2">2</div>
            <div class="fundraiser-bar__step-name fundraiser-bar__step-name--current">
              {{ 'fundraiser.details' | t }}
            </div>
          </div>
          <div class="fundraiser-bar__step-label" data-step="3">
            <div class="fundraiser-bar__step-number fundraiser-bar__step-number--upcoming" data-step="3">3</div>
            <div class="fundraiser-bar__step-name fundraiser-bar__step-name--upcoming">
              {{ 'fundraiser.payment' | t }}
            </div>
          </div>
        </div>
      </div>
      <div class="fundraiser-bar__main form--big">
        <div class="fundraiser-bar__errors hidden-closed">
          <span class="fa fa-exclamation-triangle"></span>
          <div class="fundraiser-bar__error-intro">
            {{ 'fundraiser.error_intro' | t }}
          </div>
        </div>
        <div class="fundraiser-bar__step-panel" data-step="1">
          <div class="fundraiser-bar__amount-buttons">
          </div>
          <input class="fundraiser-bar__custom-field" placeholder="{{ 'fundraiser.other_amount' | t }}" />
          <div class="fundraiser-bar__switch-currency">
            {{ 'fundraiser.currency_in' | t }} <span class="fundraiser-bar__current-currency">USD</span>.
            <a class="fundraiser-bar__engage-currency-switcher">{{ 'fundraiser.switch_currency' | t }}.</a>
            <select class="fundraiser-bar__currency-selector" style="display: none;"></select>
          </div>
          <button class="fundraiser-bar__first-continue button" style="display:none;">
            {{ 'fundraiser.proceed_to_details' | t }}
          </button>
          <div class="fundraiser-bar__fine-print">
            {{ 'fundraiser.fine_print' | t }}
          </div>
        </div>
        <div class="fundraiser-bar__step-panel" data-step="2">
          {% capture cta %}{{ 'fundraiser.proceed_to_payment' | t }}{% endcapture %}
          {% include 'Form',
            cta: cta,
            form_id: plugins.fundraiser[ref].form_id,
            form_url_postscript: '/validate',
            outstanding_fields: plugins.fundraiser[ref].outstanding_fields,
            fields: plugins.fundraiser[ref].fields %}
        </div>
        <div class="fundraiser-bar__step-panel form--big" data-step="3">
          <div class="fundraiser-bar__welcome-text hidden-irrelevant">
            {{ 'form.welcome_back' | t }}, {{member.welcome_name}}! <br />
            <a href="javascript:;" class=" fundraiser-bar__clear-form">{{ 'form.switch_user' | t }}</a>
          </div>
          <form action='/' id="hosted-fields">
            <div class="form__group">
              <div id="hosted-fields__paypal"></div>
            </div>
            <div class="hosted-fields__credit-card-fields">
              <div class="form__group">
                <div class="hosted-fields__or">{{ 'basics.or' | t }}</div>
                <div class="hosted-fields__host hosted-fields__number"></div>
                <span class="hosted-fields__card-type fa hidden-irrelevant"></span>
              </div>
              <div class="form__group form__group--half-width form__group--half-width--left">
                <div class="hosted-fields__host hosted-fields__cvv"></div>
              </div>
              <div class="form__group form__group--half-width">
                <div class="hosted-fields__host hosted-fields__expiration"></div>
              </div>
              <div class="form__group">
                <hr class="fundraiser-bar__step-connector fundraiser-bar__step-connector--static" />
                <label class="checkbox-label">
                  <input class="fundraiser-bar__recurring" type="checkbox" name="recurring" /> {{ 'fundraiser.make_recurring' | t }}
                </label>
              </div>
            </div>
            <button type="submit" class="button fundraiser-bar__submit-button">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="fundraiser-bar__mobile-ui">
    <div class="fundraiser-bar__mobile-ui__bottom-bar">
      <button class="button fundraiser-bar__open-button">{{ plugins.fundraiser[ref].cta }}</button>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      window.sumofus.myFundraiserBar = new window.sumofus.FundraiserBar({
        pageId:           "{{ id }}",
        followUpUrl:      "{{ follow_up_url }}",
        currency:         window.sumofus.personalization.location.currency,
        donationBands:    {{ plugins.fundraiser[ref].donation_bands }},
        amount:           window.sumofus.personalization.urlParams.amount,
        outstandingFields:window.sumofus.personalization.outstandingFields
      });
    });
  </script>

{% endif %}
