{% if plugins.petition[ref].active %}
  {% include 'No Script' %}
  <div class="petition-bar__target">
    {% unless plugins.petition[ref].target == blank %}
      {{ 'petition.target_prefix' | t }}: {{ plugins.petition[ref].target }}
    {% endunless %}
  </div>
  <p class="petition-bar__petition-text">
    {{ plugins.petition[ref].description }}
  </p>

  <div class="script-dependent">
    {% include 'Form',
      cta: plugins.petition[ref].cta,
      form_id: plugins.petition[ref].form_id,
      outstanding_fields: plugins.fundraiser[ref].outstanding_fields,
      fields: plugins.petition[ref].fields %}
    <div class="petition-bar__fine-print">
      {{ 'petition.fine_print' | t }}
    </div>
  </div>

  {% unless skip_javascript %}
    <script type="text/javascript">
      $(document).ready(function(){
        var chmp = window.champaign; // convenience binding
        chmp.myActionForm  = new chmp.ActionForm({
          member:           chmp.personalization.member,
          outstandingFields:chmp.personalization.outstandingFields,
          location:         chmp.personalization.location,
          akid:             chmp.personalization.urlParams.akid,
          referring_akid:   chmp.personalization.urlParams.referring_akid,
          source:           chmp.personalization.urlParams.source,
          referrer_id:      chmp.personalization.urlParams.referrer_id,
          rid:              chmp.personalization.urlParams.rid,
          bucket:           chmp.personalization.urlParams.bucket,
          prefill:          true
        });

        chmp.myPetition      = new chmp.Petition({followUpUrl: "{{ follow_up_url }}"});
      });
    </script>
  {% endunless %}
{% endif %}
