{% if plugins.petition[ref].active %}
  <div class="petition-bar overlay-toggle desktop-sticky {{ extra_class }}">
    <div class="overlay-toggle__mobile-view overlay-toggle__mobile-view--closed">
      <div class="petition-bar__content">
        <div class="petition-bar__top">
          <div class="overlay-toggle__mobile-ui">
            <a class="overlay-toggle__close-button">&#x2715;</a>
          </div>
          <div class="petition-bar__title-bar">
            <h2 class="petition-bar__title">{{ plugins.petition[ref].cta }}</h2>
          </div>
          <div class="petition-bar__target">
            {% unless plugins.petition[ref].target == blank %}
              {{ 'petition.target_prefix' | t }}: {{ plugins.petition[ref].target }}
            {% endunless %}
          </div>
          <p class="petition-bar__petition-text">
            {{ plugins.petition[ref].description }}
          </p>
        </div>
        <div class="petition-bar__main">
          <div class="mobile-hide">
            {% include 'Thermometer' %}
          </div>
          {% include 'No Script' %}
          <div class="script-dependent">
            {% include 'Form',
              cta: plugins.petition[ref].cta,
              form_id: plugins.petition[ref].form_id,
              outstanding_fields: plugins.fundraiser[ref].outstanding_fields,
              fields: plugins.petition[ref].fields %}
            <div class="petition-bar__fine-print">
              {% capture privacy_link %}<a href="https://sumofus.org/privacy" target="_blank">{{ 'petition.privacy_link' | t }}</a>{% endcapture %}
              {{ 'petition.fine_print' | val: 'privacy_link', privacy_link | t }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        var options = {
          member:           window.sumofus.personalization.member,
          outstandingFields:window.sumofus.personalization.outstandingFields,
          location:         window.sumofus.personalization.location,
          akid:             window.sumofus.personalization.urlParams.akid,
          source:           window.sumofus.personalization.urlParams.source,
          thermometer:      window.sumofus.personalization.thermometer,
          cosmetic:         true,
          followUpUrl:      "{{ follow_up_url }}"
        }
        var sou = window.sumofus; // convenience binding
        sou.myPetitionBar = new sou.PetitionBar(options);
        sou.myActionForm  = new sou.ActionForm(options);

        sou.myOverlayToggle = new sou.OverlayToggle();
        sou.mySticky        = new sou.DesktopSticky({extra_class: 'petition'});
        sou.myThermometer   = new sou.Thermometer(options.thermometer);
        sou.mySidebar       = new sou.Sidebar();
      });
    </script>
  </div>
{% endif %}
