{% if plugins.petition[ref].active %}
  <div class="petition-bar {{ extra_class }}">
    <div class="petition-bar__mobile-view petition-bar__mobile-view--closed">
      <div class="petition-bar__content">
        <div class="petition-bar__top">
          <div class="petition-bar__mobile-ui">
            <a class="petition-bar__close-button">&#x2715;</a>
          </div>
          <div class="petition-bar__title-bar">
            <h2 class="petition-bar__title">{{ 'petition.sign_it' | t }}</h2>
          </div>
          <div class="petition-bar__target">
            {% unless plugins.petition[ref].target == blank %}
              {{ 'petition.target_prefix' | t }}: {{ plugins.petition[ref].target }}
            {% endunless %}
          </div>
          <p class="petition-bar__petition-text">
            {{ plugins.petition[ref].description }}
          </p>
        </div>
        <div class="petition-bar__main">

          <div class="mobile-hide">
            {% include 'Thermometer' %}
          </div>
          {% include 'Form',
            cta: plugins.petition[ref].cta,
            form_id: plugins.petition[ref].form_id,
            outstanding_fields: plugins.fundraiser[ref].outstanding_fields,
            fields: plugins.petition[ref].fields %}
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        window.sumofus.myPetitionBar = new window.sumofus.PetitionBar({
          member:           window.sumofus.personalization.member,
          outstandingFields:window.sumofus.personalization.outstandingFields,
          location:         window.sumofus.personalization.location,
          akid:             window.sumofus.personalization.urlParams.akid,
          source:           window.sumofus.personalization.urlParams.source,
          thermometer:      window.sumofus.personalization.thermometer,
          followUpUrl:      "{{ follow_up_url }}"
        });
      });
    </script>
  </div>
{% endif %}
