{% if plugins.petition[ref].active %}
  {% include 'No Script' %}
  <div class="petition-bar__target">
    {% unless plugins.petition[ref].target == blank %}
      {{ 'petition.target_prefix' | t }}: {{ plugins.petition[ref].target }}
    {% endunless %}
  </div>
  <p class="petition-bar__petition-text">
    {{ plugins.petition[ref].description }}
  </p>

  <div class="script-dependent">
    {% include 'Form',
      cta: plugins.petition[ref].cta,
      form_id: plugins.petition[ref].form_id,
      outstanding_fields: plugins.fundraiser[ref].outstanding_fields,
      fields: plugins.petition[ref].fields %}
    <div class="petition-bar__fine-print">
      {{ 'petition.fine_print' | t }}
    </div>
  </div>

  {% unless skip_javascript %}
    {{ javascript_tag 'globals' }}
  {% endunless %}
{% endif %}
