{% for link in link_list %}
  <div class="page-link">
    <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
    {% unless link.source == blank and link.date == blank %}
      <br />
    {% endunless %}
    {% unless link.source == blank %}
      {{ link.source }}.
    {% endunless %}
    {% unless link.date == blank %}
      {{ link.date | date: "%-d" }}
      {% comment %} i18n of the month {% endcomment %}
      {% assign m = link.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}{{ 'links.january' | t }}
          {% when '2' %}{{ 'links.february' | t }}
          {% when '3' %}{{ 'links.march' | t }}
          {% when '4' %}{{ 'links.april' | t }}
          {% when '5' %}{{ 'links.may' | t }}
          {% when '6' %}{{ 'links.june' | t }}
          {% when '7' %}{{ 'links.july' | t }}
          {% when '8' %}{{ 'links.august' | t }}
          {% when '9' %}{{ 'links.september' | t }}
          {% when '10' %}{{ 'links.october' | t }}
          {% when '11' %}{{ 'links.november' | t }}
          {% when '12' %}{{ 'links.december' | t }}
        {% endcase %}
      {{ link.date | date: "%Y" }}.
    {% endunless %}
  </div>
{% endfor %}  
