<form id="one-click-form" data-remote="true" method="post" class="form">
  <div class="fundraiser-bar__payment-methods">
    <h3 class="fundraiser-bar__one-click-title">{{ 'fundraiser.donate_with' | t }}</h3>
    {% for payment_method in payment_methods %}
      <div class="form__group">
        <label class="radio-label">
          <input type="radio"
                 name="payment_method_id"
                 class="form__content radio-inline"
                 {% if forloop.first %}
                  checked="checked"
                 {% endif %}
                 value="{{payment_method.id}}" />
          {% if payment_method.instrument_type == 'credit_card' %}
            <span class="payment_method_label">
              {{'fundraiser.oneclick.credit_card_payment_method'
                | val: 'card_type', payment_method.card_type
                | val: 'last_four_digits', payment_method.last_4
                | t }}
            </span>
          {% elsif payment_method.instrument_type == 'paypal_account'  %}
            <span class="payment_method_label">
              {{'fundraiser.oneclick.paypal_payment_method'
                | val: 'email', payment_method.email
                | t }}
            </span>
          {% endif %}
        </label>
      </div>
    {% endfor %}

    <div class="form__group fundraiser-bar__toggle-payment-method-container">
      <a href="#" class="fundraiser-bar__toggle-payment-method">
        {{'fundraiser.oneclick.change_payment_method' | t}}
      </a>
    </div>
  </div>

  <div class="form__group">
    <label class="checkbox-label">
      <input class="fundraiser-bar__recurring-one-click" type="checkbox" name="recurring" />
      {{ 'fundraiser.make_recurring' | t }}
    </label>
  </div>

  <button type="submit" class="button fundraiser-bar__submit-one-click">{{ 'form.submit' | t }}</button>
</form>
