<style type="text/css">
  .button--facebook a::before{
    content: "{{ 'share.share' | t }}";
  }
  .button--twitter a::before{
    content: "{{ 'share.tweet' | t }}";
  }
  .button--whatsapp a::before{
    content: "{{ 'share.share_on_whatsapp' | t }}";
  }
  .button--email a::before{
    content: "{{ 'share.share_on_email' | t }}";
  }

</style>

<div class="share-buttons">

  {% unless shares['facebook'] == blank %}
    <div class="share-buttons__button button--facebook {{ shares['facebook'].css_class }}"></div>
  {% endunless %}

  {% unless shares['twitter'] == blank %}
    <div class="share-buttons__button button--twitter {{ shares['twitter'].css_class }}"></div>
  {% endunless %}

  {% unless shares['whatsapp'] == blank %}
    <div variant_id="{{shares['whatsapp'].variant_id}}" class="share-buttons__button button--whatsapp {{ shares['whatsapp'].css_class }}"> {{ shares['whatsapp'].link_html }} </div>
  {% endunless %}

  {% unless shares['email'] == blank %}
    <div class="share-buttons__button button--email {{ shares['email'].css_class }}"></div>
  {% endunless %}
</div>
