{% if plugins.action[ref].active %}
  <div class="petition-bar__top">
    <h2>Sign the petition</h2>
    <div class="petition-bar__target">
      TO: True Value &amp; Ace Hardware
    </div>
    <p class="petition-bar__petition-text">
      {{ plugins.action[ref].description }}
    </p>
  </div>
  <div class="petition-bar__main">

    <form action='/api/campaign_pages/{{id}}/actions' data-remote='true' method='post' class='form--big action'>
      <input type='hidden' name='form_id' value='{{ plugins.action[ref].form_id }}' />
      {% for field in plugins.action[ref].fields %}
        <div class="form__group">
          {% case field.data_type %}

          {% when 'text' %}
            <input type="text" name="{{field.name}}" class="form-control" id="" placeholder="{{ field.label }}" />
          {% when 'email' %}
            <input type="email" name="{{field.name}}" class="form-control mailcheck" id="" placeholder="{{ field.label }}" />
          {% when 'phone' %}
            <input type="tel" name="{{field.name}}" class="form-control" id="" placeholder="{{ field.label }}" />
          {% when 'checkbox' %}
            <label class="checkbox-label">
              <input type="checkbox" name="{{field.name}}" /> {{ field.label }}
            </label>
          {% when 'country' %}
            <select name="{{field.name}}" class="form-control">
              <option selected disabled hidden value=''>{{field.label}}</option>
              {{ country_option_tags }}
            </select>
          {% endcase %}
        </div>
      {% endfor %}
      <button type="submit" class="button button--main">Sign the petition</button>
    </form>
  </div>
{% endif %}
