<!DOCTYPE html>
<html>
<head>
  <title>Champaign</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
    <br/>
    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<% end %>

<div class="container">
    <% if flash[:error] %>
        <div class="alert alert-dismissible alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= flash[:error] %></strong>
        </div>
    <% end %>
    <% if flash[:notice] %>
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= flash[:notice] %></strong>
        </div>
    <% end %>
    <%= yield %>
</div>


</body>
</html>
